* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(196, 167, 223);
    box-sizing: border-box;

}

.logo {
    width: 10%;
    height: 100px;
    padding: 4px;
}

.topNav {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.navLinks {
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(138, 81, 191);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;

}

.navButton {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(138, 81, 191);
    border-style: none;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(251, 248, 245);
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 80px;
}

header h2 {
    font-size: 30px;
    color: black;
    padding: 30px;
}

.callToAction {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(138, 81, 191);
    border-style: none;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

.infoContainer {

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
}

.infoContainer h1 {
    font-size: 30px;
}

.infoImage {
    object-fit: cover;
    object-position: 10%;
    width: 45%;
    height: 100%;
    padding: 30px;
    border-radius: 15%;
}

.infoText {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 80px;
}

.infoText h1 {
    font-size: 50px;
}


.studentContainer {
    background-color: rgb(251, 248, 245);
    height: 1000px;
}

.column {
    display: flex;
    margin: auto;
}

.studentTitle {
    font-size: 100px;
    margin: auto;
    padding: 80px;
    text-align: center;
    width: 100%;
}

.studentImgText {
    margin: auto;
    width: 22%;
    height: 300px;
}

.studentImg {
    border-radius: 50%;
    height: 90%;
    padding-bottom: 20px;
}

.applyContainer {
    text-align: center;
    padding: 50px;
    height: 650px;
}

.applyContainer h1 {
    font-size: 80px;
}

.applyContainer p {
    font-size: 30px;
    padding: 50px 100px;
}

footer {
    height: 300px;
    background-color: rgb(196, 167, 223);
    display: flex;
}

.links {
    width: 40%;
    list-style-type: none;
    line-height: 30px;
    padding: 10px 10px 10px 50px;

}

.contact {
    width: 40%;
}

.logoFooter {
    width: 20%;
    padding: 50px;

}

.contact,
a,
address {
    color: rgb(79, 44, 111);
    padding-left: 0;
}

address {
    padding-top: 20px;
}